body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212; /* Dark background for the whole app */
  color: #e0e0e0; /* Light text color for readability */
}

.navbar {
  background-color: #1f1f1f; /* Slightly darker background for the nav bar */
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff; /* Small white line separating nav bar from content */
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

.navbar a:hover {
  text-decoration: underline;
}

button {
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

div {
  text-align: center;
  margin-top: 50px;
}

.presentation-buttons {
  position: fixed;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.presentation-buttons button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.presentation-buttons button:hover {
  background: #0056b3;
}

.page-number {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1e1e1e; /* Background color to match dark theme */
  color: #e0e0e0; /* Light text color for readability */
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
}

.viewer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.page-info {
  margin-bottom: 20px;
}

.page-title {
  font-size: 2em;
  margin: 0;
}

.page-content {
  margin-top: 10px;
  font-size: 1.2em;
}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-item {
  margin-bottom: 20px;
}

.video-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.video-player {
  max-width: 100%;
  height: auto;
}

.video-author {
  font-size: 1em;
  color: #555;
  margin-top: 5px;
}
